@import "tailwindcss";

@font-face {
  font-family: 'Street Conflict';
  src: url('/fonts/StreetConflict-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: 'Street Conflict', sans-serif;
  --font-body: 'Exo', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
